@using MusicDating.Models.ViewModels;
@model UserInstrumentVm

@{
    ViewData["Title"] = "Index";
}



<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("Index", "Users", FormMethod.Post))
        {
            <div class="form-group">
                <select asp-for="InstrumentName" class ="form-control" asp-items="Model.Instruments" onchange="this.form.submit()"></select>
            </div>
        }

        @foreach (var item in Model.UserInstruments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
                @Html.DisplayFor(modelItem => item.Instrument.Name)
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstrumentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InstrumentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InstrumentId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
